@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body{
  font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,body{
  margin: 0;
}

:root{
  --color-black: #0D0D0D;
  --color-orange: #FA4A0C;
  --color-white: #FFF;
  --color-gray: #F6F6F9;
  --color-green: #A3E0D8;
  --color-purple: #D3C3ED;
  --color-yellow: #FCB235;
  --color-light-orange: #F18F8C;
  --color-brown: #410F18;
}

.app {
  background-color: #F2F2F2;
  min-height: 100vh;
}

.container{
  margin: auto;
  max-width: 360px;
  padding: 24px 24px 0 24px;
}